body {
  /* font-family: 'Walter Turncoat', cursive; */
  /* font-family: 'Kalam', cursive; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #0f0f0e;
  /* color: #dfd4c0; */
  color: #ebe3d5;
  font-size: 1rem;
}

.imageMain {
  display: flex;
  justify-content: center;
}

img {
  width: 40vw;
}

.halfnumQ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fortuneQ {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fortuneOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: ease-out;
  transition: 2s;
  /* for some reason including width or height doesnt transition it at all
  and just breaks transition. not sure why, so im sorry the font weight
  transitions weirdly. */
}

.explanation {
  display: flex;
  justify-content: center;
  align-items: center;
}
